.card-badge {
    background-color: var(--primary-color);
    border-radius: 1rem;
    box-shadow: 0 0 0 2.5px var(--accent-color);
    overflow: hidden;
}

.thumbnail-image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
}

.vid-card-header-txt {
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
    width: 18.75rem;
}

.vid-card-title {
    font-size: 1.3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-header {
    position: relative;
}

.card-floating-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: -8%;
    right: 2%;
    font-size: 1rem;
    border-radius: unset;
    padding: unset;
}

.card-floating-icon:hover {
    background-color: unset;
}

.vid-card-icon {
    border-radius: 50%;
    background-color: var(--vid-icon-bg);
}

.vid-card-icon:nth-child(1) {
    padding: 0px 3px;
    padding-top: 5px;
    padding-left: 5px;
}

.vid-card-icon:nth-child(2) {
    padding: 6px 10px;
}

.vid-card-icon:hover {
    color: var(--accent-color);
}