.card-badge {
    background-color: var(--primary-color);
    border-radius: 1rem;
    box-shadow: 0 0 0 2.5px var(--accent-color);
    overflow: hidden;
}

.thumbnail-image {
    width: 100%;
    max-height: 150px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.vid-card-header-txt {
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
    width: 18.75rem;
}

.vid-card-title {
    color: var(--white);
    font-size: 1.3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.main-video-title {
    color: var(--white);
}

.card-header {
    position: relative;
}

.card-floating-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: -8%;
    right: 2%;
    font-size: 1rem;
    border-radius: unset;
    padding: unset;
    color: var(--card-icon);
}

.card-floating-icon:hover {
    background-color: unset;
}

.vid-card-title-hover:hover {
    color: var(--accent-color);
}

.vid-card-icon {
    border-radius: 50%;
    background-color: var(--vid-icon-bg);
}

.history-icon {
    border-radius: 50%;
    background-color: var(--vid-icon-bg);
    padding: 5px 8px;
}

.history-icon:hover {
    color: var(--ecom-red);
}

.vid-card-icon:nth-child(1) {
    padding: 0px 3px;
    padding-top: 5px;
    padding-left: 5px;
}

.vid-card-icon:nth-child(2) {
    padding: 6px 10px;
}

.vid-card-icon:hover {
    color: var(--accent-color);
}

.single-video-card {
    max-width: 55rem;
    margin: auto;
}

.single-video-card iframe {
    width: 100%;
    height: 500px;
    border-radius: 1rem;
}

.playlist-overlay {
    position: absolute;
    right: 0;
    width: 32%;
    height: 100%;
    background-color: var(--playlist-overlay-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-overlay > i {
    font-size: 2rem;
}

.playlist-folder-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: 30%;
    left: 4%;
    font-size: 1rem;
    border-radius: unset;
    padding: unset;
    color: var(--card-icon);
}


@media screen and (max-width: 30em) {
    .single-video-card iframe {
        width: 100%;
        height: 200px;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 91em) {

    .card-badge {
        min-width: 34rem;
        background-color: var(--primary-color);
        border-radius: 1rem;
        box-shadow: 0 0 0 2.5px var(--accent-color);
        overflow: hidden;
    }

    .thumbnail-image {
        width: 100%;
        max-height: 300px;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        object-fit: cover;
        object-position: center;
    }

    .wrapper {
        font-size: 135%;
    }
}