/*=============================================
=            Nav Bar            =
=============================================*/

.nav-bar, .nav-bar * {
    background-color: var(--primary-color);
}

.nav-bar {
    box-shadow: none;
    padding: 0.5rem 1.5rem;
}

.nav-fixed {
    position: fixed;
    top: 0;
    z-index: 5;
}

.icon-in-nav {
    color: var(--accent-color);
    margin: 0.8rem 1rem;
    padding: unset;
}

.icon-in-nav > .material-icons {
    padding-top: 0.3rem;
}

.nav-bar .icon-in-nav:hover {
    color: var(--white);
    background-color: unset;
    cursor: pointer;
}

.nav-bar button:hover {
    transform: unset;
}

.nav-txt > a {
    color: var(--accent-color);
}

.nav-txt:hover {
    cursor: pointer;
}

.search-bar {
    border: 2px solid var(--accent-color);
    height: fit-content;
    border-radius: 16px;
    padding: 0.2rem 0.5rem;
    width: 12rem;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out;
}

.search-bar:focus-within {
    width: 14rem;
}

.search-input {
    border: none;
    outline: none;
    background: none;
    width: 80%;
    padding: 2px 4.8px;
    color: var(--white);
}

.search-bar > .fa-search {
    color: var(--accent-color);
}

.search-bar:hover > .fa-search {
    color: var(--white);
    cursor: pointer;
}

.search-bar:hover {
    border-color: var(--white);
}

/*=============================================
=            Sidebar            =
=============================================*/

.sidebar {
    flex: 0 0 220px;
    margin-top: 74.75px;
    position: fixed;
    left: 0;
    overflow-y: auto;
    z-index: 5;
}

.side-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: unset;
}

.side-heading > *:hover {
    transform: unset;
}

.side-heading li {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.side-heading .odd-icon {
    padding: 1rem 1.85rem;
    gap: 0.6rem;
}

.side-heading .active {
    color: var(--accent-color);
}

/*=============================================
=            Media Queries            =
=============================================*/

/* Mobile Devices */

@media screen and (max-width: 30em) {
    .search-bar {
        width: 8rem;
    }
    .side-title {
        display: none;
    }
    .sidebar {
        flex: 0 0 80px;
        margin-top: 74.75px;
        position: fixed;
        left: 0;
        overflow-y: auto;
        z-index: 5;
    }
}


/* Small Mobile Screens */

@media screen and (max-width: 27em) {
    .nav-txt > a > .fas {
        display: none;
    }

    .logo-title {
        display: none;
    }

    .search-bar {
        width: 6rem;
    }
}