
.category-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.chip {
    padding: 0.3rem 0.7rem;
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    border: 2px solid var(--accent-color);
    color: var(--white);
    cursor: pointer;
}

.video-listing {
    padding: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.content-title {
    font-size: 1.3rem;
    border-left: 5px solid var(--accent-color);
    padding-left: 0.6rem;
}

.empty-playlist {
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.video-info {
    margin: 1rem 0;
}

.avatar-lg-size {
    min-width: 4rem;
    max-width: 4rem;
    margin-top: 5px;
}

.btn-clear {
    display: flex;
    gap: 0.3rem;
    padding-inline: 0.5rem;
}