
.category-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.chip {
    padding: 0.4rem 0.8rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    border: 2px solid var(--accent-color);
}

.video-listing {
    padding: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.content-title {
    text-decoration: underline;
    font-size: 1.3rem;
}

.empty-playlist {
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.video-info {
    margin: 1rem 0;
}

.avatar-lg-size {
    min-width: 4rem;
    max-width: 4rem;
    margin-top: 5px;
}